$background-color: #131a22;
$text_color: #e0e0e0;

$accent-color: #3a568a;
$danger-color: #57261f;
$warning-color: #5c472a;
$success-color: #255339;
$information-color: #1f5057;
$purple-color: #501f57;

$upvote-color: #5b9b26;
$downvote-color: #da3412;
$fave-color: #a18e27;
$comment-color: #b099dd;
$hide-color: #da3412;

$tag-default-color: #1b3c21;
$tag-error-color: #4f181d;
$tag-rating-color: #113456;
$tag-origin-color: #1d1858;
$tag-character-color: #193f47;
$tag-oc-color: #451f47;
$tag-species-color: #362118;
$tag-body-type-color: #393939;
$tag-content-fanmade-color: #622c4e;
$tag-content-official-color: #4b491c;
$tag-spoiler-color: #4f3811;

:root {
  --background-color: #{$background-color};
  --text-color: #{$text_color};

  --link-color: #{lighten(saturate($accent-color, 5%), 25%)};
  --link-hover-color: #{$text_color};

  --accent-color: #{$accent-color};
  --accent-border-color: #{lighten($accent-color, 20%)};
  --accent-muted-color: #{darken(desaturate($accent-color, 10%), 15%)};
  --accent-dark-color: #{darken(desaturate($accent-color, 5%), 20%)};
  --accent-text-color: #{lighten(saturate($accent-color, 10%), 20%)};
  --accent-text-muted-color: #{lighten(desaturate($accent-color, 15%), 20%)};

  --danger-color: #{$danger-color};
  --danger-border-color: #{lighten(desaturate($danger-color, 5%), 35%)};
  --danger-dark-color: #{darken($danger-color, 7%)};
  --warning-color: #{$warning-color};
  --warning-border-color: #{lighten(desaturate($warning-color, 5%), 35%)};
  --success-color: #{$success-color};
  --success-border-color: #{lighten(desaturate($success-color, 5%), 35%)};
  --information-color: #{$information-color};
  --information-border-color: #{lighten(desaturate($information-color, 5%), 35%)};
  --purple-color: #{$purple-color};
  --purple-border-color: #{lighten(desaturate($purple-color, 5%), 35%)};

  --upvote-color: #{$upvote-color};
  --downvote-color: #{$downvote-color};
  --fave-color: #{$fave-color};
  --comment-color: #{$comment-color};
  --hide-color: #{$hide-color};

  --tag-default-color: #{$tag-default-color};
  --tag-default-border-color: #{lighten($tag-default-color, 15%)};
  --tag-default-text-color: #{lighten($tag-default-color, 35%)};
  --tag-error-color: #{$tag-error-color};
  --tag-error-border-color: #{lighten($tag-error-color, 15%)};
  --tag-error-text-color: #{lighten($tag-error-color, 37%)};
  --tag-rating-color: #{$tag-rating-color};
  --tag-rating-border-color: #{lighten($tag-rating-color, 15%)};
  --tag-rating-text-color: #{lighten($tag-rating-color, 37%)};
  --tag-origin-color: #{$tag-origin-color};
  --tag-origin-border-color: #{lighten(desaturate($tag-origin-color, 15%), 12%)};
  --tag-origin-text-color: #{lighten($tag-origin-color, 42%)};
  --tag-character-color: #{$tag-character-color};
  --tag-character-border-color: #{lighten($tag-character-color, 15%)};
  --tag-character-text-color: #{lighten($tag-character-color, 35%)};
  --tag-oc-color: #{$tag-oc-color};
  --tag-oc-border-color: #{lighten($tag-oc-color, 15%)};
  --tag-oc-text-color: #{lighten($tag-oc-color, 40%)};
  --tag-species-color: #{$tag-species-color};
  --tag-species-border-color: #{lighten($tag-species-color, 15%)};
  --tag-species-text-color: #{lighten($tag-species-color, 37%)};
  --tag-body-type-color: #{$tag-body-type-color};
  --tag-body-type-border-color: #{lighten($tag-body-type-color, 12%)};
  --tag-body-type-text-color: #{lighten($tag-body-type-color, 45%)};
  --tag-content-fanmade-color: #{$tag-content-fanmade-color};
  --tag-content-fanmade-border-color: #{lighten($tag-content-fanmade-color, 15%)};
  --tag-content-fanmade-text-color: #{lighten($tag-content-fanmade-color, 40%)};
  --tag-content-official-color: #{$tag-content-official-color};
  --tag-content-official-border-color: #{lighten($tag-content-official-color, 15%)};
  --tag-content-official-text-color: #{lighten($tag-content-official-color, 35%)};
  --tag-spoiler-color: #{$tag-spoiler-color};
  --tag-spoiler-border-color: #{lighten($tag-spoiler-color, 15%)};
  --tag-spoiler-text-color: #{lighten($tag-spoiler-color, 35%)};
}
