$background_color: #131a22;
$text_color: #e0e0e0;

$accent_color: #3a568a;
$danger_color: #57261f;
$warning_color: #5c472a;
$success_color: #255339;
$information_color: #1f5057;
$purple_color: #501f57;

$upvote_color: #5b9b26;
$downvote_color: #da3412;
$fave_color: #a18e27;
$comment_color: #b099dd;
$hide_color: #da3412;

$tag_default_color: #1b3c21;
$tag_error_color: #4f181d;
$tag_rating_color: #113456;
$tag_origin_color: #1d1858;
$tag_character_color: #193f47;
$tag_oc_color: #451f47;
$tag_species_color: #362118;
$tag_body_type_color: #393939;
$tag_content_fanmade_color: #622c4e;
$tag_content_official_color: #4b491c;
$tag_spoiler_color: #4f3811;

:root {
  --background-color: #{$background_color};
  --text-color: #{$text_color};

  --link-color: #{lighten(saturate($accent_color, 10%), 20%)};
  --link-hover-color: #{$text_color};

  --accent-color: #{$accent_color};
  --accent-border-color: #{lighten($accent_color, 20%)};
}
