$background_color: #131a22;
$text_color: #e0e0e0;

$accent_color: #3a568a;
$danger_color: #57261f;
$warning_color: #5c472a;
$success_color: #255339;
$information_color: #1f5057;
$purple_color: #501f57;

$upvote_color: #5b9b26;
$downvote_color: #da3412;
$fave_color: #a18e27;
$comment_color: #b099dd;
$hide_color: #da3412;

$tag_default_color: #1b3c21;
$tag_error_color: #4f181d;
$tag_rating_color: #113456;
$tag_origin_color: #1d1858;
$tag_character_color: #193f47;
$tag_oc_color: #451f47;
$tag_species_color: #362118;
$tag_body_type_color: #393939;
$tag_content_fanmade_color: #622c4e;
$tag_content_official_color: #4b491c;
$tag_spoiler_color: #4f3811;

:root {
  --background-color: #{$background_color};
  --text-color: #{$text_color};

  --link-color: #{lighten(saturate($accent_color, 10%), 20%)};
  --link-hover-color: #{$text_color};

  --accent-color: #{$accent_color};
  --accent-border-color: #{lighten($accent_color, 20%)};
  --accent-muted-color: #{darken(desaturate($accent_color, 10%), 15%)};
  --accent-dark-color: #{darken(desaturate($accent_color, 5%), 20%)};
  --accent-text-color: #{lighten(saturate($accent_color, 10%), 20%)};
  --accent-text-muted-color: #{lighten(desaturate($accent_color, 15%), 20%)};

  --danger-color: #{$danger_color};
  --danger-border-color: #{lighten(desaturate($danger_color, 5%), 35%)};
  --danger-dark-color: #{darken($danger_color, 7%)};
  --warning-color: #{$warning_color};
  --warning-border-color: #{lighten(desaturate($warning_color, 5%), 35%)};
  --success-color: #{$success_color};
  --success-border-color: #{lighten(desaturate($success_color, 5%), 35%)};
  --information-color: #{$information_color};
  --information-border-color: #{lighten(desaturate($information_color, 5%), 35%)};
  --purple-color: #{$purple_color};
  --purple-border-color: #{lighten(desaturate($purple_color, 5%), 35%)};

  --upvote-color: #{$upvote_color};
  --downvote-color: #{$downvote_color};
  --fave-color: #{$fave_color};
  --comment-color: #{$comment_color};
  --hide-color: #{$hide_color};

  --tag-default-color: #{$tag_default_color};
  --tag-default-border-color: #{lighten($tag_default_color, 15%)};
  --tag-default-text-color: #{lighten($tag_default_color, 35%)};
  --tag-error-color: #{$tag_error_color};
  --tag-error-border-color: #{lighten($tag_error_color, 15%)};
  --tag-error-text-color: #{lighten($tag_error_color, 37%)};
  --tag-rating-color: #{$tag_rating_color};
  --tag-rating-border-color: #{lighten($tag_rating_color, 15%)};
  --tag-rating-text-color: #{lighten($tag_rating_color, 37%)};
  --tag-origin-color: #{$tag_origin_color};
  --tag-origin-border-color: #{lighten(desaturate($tag_origin_color, 15%), 12%)};
  --tag-origin-text-color: #{lighten($tag_origin_color, 42%)};
  --tag-character-color: #{$tag_character_color};
  --tag-character-border-color: #{lighten($tag_character_color, 15%)};
  --tag-character-text-color: #{lighten($tag_character_color, 35%)};
  --tag-oc-color: #{$tag_oc_color};
  --tag-oc-border-color: #{lighten($tag_oc_color, 15%)};
  --tag-oc-text-color: #{lighten($tag_oc_color, 40%)};
  --tag-species-color: #{$tag_species_color};
  --tag-species-border-color: #{lighten($tag_species_color, 15%)};
  --tag-species-text-color: #{lighten($tag_species_color, 37%)};
  --tag-body-type-color: #{$tag_body_type_color};
  --tag-body-type-border-color: #{lighten($tag_body_type_color, 12%)};
  --tag-body-type-text-color: #{lighten($tag_body_type_color, 45%)};
  --tag-content-fanmade-color: #{$tag_content_fanmade_color};
  --tag-content-fanmade-border-color: #{lighten($tag_content_fanmade_color, 15%)};
  --tag-content-fanmade-text-color: #{lighten($tag_content_fanmade_color, 40%)};
  --tag-content-official-color: #{$tag_content_official_color};
  --tag-content-official-border-color: #{lighten($tag_content_official_color, 15%)};
  --tag-content-official-text-color: #{lighten($tag_content_official_color, 35%)};
  --tag-spoiler-color: #{$tag_spoiler_color};
  --tag-spoiler-border-color: #{lighten($tag_spoiler_color, 15%)};
  --tag-spoiler-text-color: #{lighten($tag_spoiler_color, 35%)};
}
