html {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
}

a, a:active, a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}
