.block {
  border: 1px solid var(--accent-border-color);

  &__content {
    padding: var(--padding-normal);
  }

  &__header {
    line-height: var(--padding-large);
    padding: 0 var(--padding-normal);
    background: var(--accent-color);
  }
}
