@mixin button-type($type) {
  .button--#{$type} {
    border-color: var(--#{$type}-border-color);

    .button--important {
      background: var(--#{$type}-color) !important;
      box-shadow: 0 -1px var(--#{$type}-dark-color) inset;
    }
  }
}

.button {
  font-weight: bold;
  background: var(--background-color);
  color: var(--text-color) !important;
  font-size: var(--padding-normal);
  padding: var(--padding-small);
  border: 1px solid var(--primary-border-color);
  border-radius: var(--border-radius);

  &:hover {
    background: var(--primary-dark-color);
    transition: background var(--transition-animation-duration) ease;
  }

  &--important {
    background: var(--primary-color);
    box-shadow: 0 -1px var(--primary-dark-color) inset;
  }

  &__row {
    display: flex;
    flex-direction: row;

    & > button {
      margin-right: var(--padding-small);
    }
  }
}

@include button-type(success);
@include button-type(warning);
@include button-type(danger);
@include button-type(information);
@include button-type(purple);
