@mixin button-type($type) {
  .button--#{$type} {
    border-color: var(--#{$type}-border-color);

    .button--important {
      background: var(--#{$type}-color) !important;
      box-shadow: 0 -1px var(--#{$type}-dark-color) inset;
    }

    &.button:hover {
      background: var(--#{$type}-dark-color) !important;
    }
  }
}

.button {
  display: block;
  width: fit-content;
  font-weight: bold;
  background: var(--background-color);
  color: var(--text-color) !important;
  font-size: var(--padding-normal);
  padding: var(--padding-small);
  border: 1px solid var(--primary-border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;

  &:hover {
    background: var(--primary-dark-color);
    transition: background var(--transition-animation-duration) ease;
  }
}

.button--important {
  background: var(--primary-color);
  box-shadow: 0 -1px var(--primary-dark-color) inset;
}

.button__row {
  display: flex;
  flex-direction: row;

  & > button {
    margin-right: var(--padding-small);
  }
}

@include button-type(success);
@include button-type(warning);
@include button-type(danger);
@include button-type(information);
@include button-type(purple);
