.button {
  font-weight: bold;
  border: 1px solid var(--accent-border-color);
  background: var(--background-color);
  color: var(--text-color) !important;
  font-size: var(--padding-normal);
  padding: var(--padding-small);

  &:hover {
    background: var(--accent-dark-color);
    transition: background 0.25s ease;
  }

  &--important {
    background: var(--accent-color);
  }

  &__row {
    display: flex;
    flex-direction: row;

    & > button {
      margin-right: var(--padding-small);
    }
  }
}

.multibutton {
  display: flex;
  flex-direction: row;
  line-height: var(--padding-normal);
  border: 1px solid var(--accent-border-color);
}

.multibutton button {
  border: 0;
}
