.column-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column-layout__left {
  margin-right: var(--padding-normal);
  width: var(--column-left-width);
}

.column-layout__main {
  flex: 1 0 auto;
}

@include if-mobile {
  .column-layout {
    flex-direction: column;
  }

  .column-layout__left {
    margin-right: 0;
  }
}

#container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: auto;
  min-height: 100vh;
  width: 100%;
}
