// Stuff that should apply to phones.
@include if-phone {
  .hidden--phone {
    display: none !important;
  }

  .hidden--mobile {
    display: none !important;
  }
}

// Stuff that should apply to tablets.
@include if-tablet {
  .hidden--tablet {
    display: none !important;
  }

  .hidden--mobile {
    display: none !important;
  }
}

// Stuff that should apply to desktops.
@include if-desktop {
  .hidden--desktop {
    display: none !important;
  }
}
