$desktop-width: 1280px;
$phone-width: 700px;

:root {
  --padding-small: 0.5em;
  --padding-normal: 1em;
  --padding-large: 2em;

  --navbar-size: 40px;
  --navbar-secondary-size: 32px;
  --navbar-avatar-size: 36px;

  --border-radius: 4px;

  --font-size: 14px;
  --font-h1-size: 1.5em;
  --font-h2-size: 1.35em;
  --font-h3-size: 1.2em;
  --font-h4-size: 1.1em;
  --font-h5-size: 1em;
  --font-h6-size: 1em;

  --desktop-width: #{$desktop-width};
  --phone-width: #{$phone-width};

  --transition-animation-duration: 0.25s;
}
