$min-desktop-width: 1280px;
$max-phone-width: 700px;

$font-family-base: verdana, arial, helvetica, sans-serif;
$font-family-monospace: "Droid Sans Mono", monospace;

:root {
  --padding-small: 0.5em;
  --padding-normal: 1em;
  --padding-large: 2em;

  --block-header-height: 2.2em;

  --navbar-size: 40px;
  --navbar-secondary-size: 36px;
  --navbar-avatar-size: 36px;

  --column-left-width: 326px;

  --border-radius: 4px;

  --media-container-width: 225px;
  --media-small-container-width: 125px;
  --media-header-height: 24px;

  --font-family: #{$font-family-base};
  --font-family-monospace: #{$font-family-monospace};

  --font-size: 14px;
  --font-header-size: 16px;
  --font-h1-size: 1.5em;
  --font-h2-size: 1.35em;
  --font-h3-size: 1.2em;
  --font-h4-size: 1.1em;
  --font-h5-size: 1em;
  --font-h6-size: 1em;

  --input-text-height: 9em;

  --min-desktop-width: #{$min-desktop-width};
  --max-phone-width: #{$max-phone-width};

  --transition-animation-duration: 0.25s;
}
